<%- include("partials/header.ejs") %>

        
      <div class="watch">
        <div class="watch-image">
          <img src="<%= anime.image %>" alt="anime" />
        </div>
        <div class="watch-content">
            <a href="/anime/<%= anime.name %>/episode/<%= anime.episodes[0][1] %>">
                <h2><%= anime.name %></h2>
            </a>
          <p><%= anime.plot_summary %></p>
        </div>
</body>
</html>